[buildout]
develop = .
parts = test checker coverage


[test]
recipe = zc.recipe.testrunner
eggs = z3c.table [test]


[checker]
recipe = lovely.recipe:importchecker
path = src/z3c/table


[coverage]
recipe = zc.recipe.egg
eggs = z3c.coverage
