[buildout]
extensions = mr.developer
sources-dir = devel
develop = .
parts = test checker coverage-test coverage-report
versions = versions

[sources]
z3c.batching = svn svn+ssh://svn.zope.org/repos/main/z3c.batching/trunk 

[test]
recipe = zc.recipe.testrunner
eggs = z3c.table [test]


[checker]
recipe = lovely.recipe:importchecker
path = src/z3c/table


[coverage-test]
recipe = zc.recipe.testrunner
eggs = z3c.table [test]
defaults = ['--coverage', '../../coverage']


[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')

[versions]
# pin ZODB as ZODB 3.10 doesn't support python 2.4
ZODB3 = 3.9.4
